body {
    background-color: #000000;
    font-family: "Comic Sans MS", "Quicksand", "Comfortaa", sans-serif;
    color: #8717f0;
}

.nav-link {
    color:#8400ff;
}

.nav-link:hover {
    color:#f609f6;
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
        color:#4e0097;
}

.navbar-brand,
.navbar-brand:hover {
    color:#8400ff;
}

.btn-adwaita-primary {
    --bs-btn-color: #fff;
    --bs-btn-bg: #3584e4;
    --bs-btn-border-color: #3584e4;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #78aeed;
    --bs-btn-hover-border-color: #78aeed;
    --bs-btn-focus-shadow-rgb: 13, 110, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #2a6ab6;
    --bs-btn-active-border-color: #2a6ab6;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #2a6ab6;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #0d6efd;
}

.btn-purple-primary {
    --bs-btn-color: #000000;
    --bs-btn-bg: #8400ff;
    --bs-btn-border-color: #8400ff;
    --bs-btn-hover-color: #000000;
    --bs-btn-hover-bg: #8400ff;
    --bs-btn-hover-border-color: #a458ea;
    --bs-btn-focus-shadow-rgb: 255, 105, 180;
    --bs-btn-active-color: #000000;
    --bs-btn-active-bg: #2d0056;
    --bs-btn-active-border-color: #2c0252;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #b27de4;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #9f6dcd;
}

.web-button img {
    margin: .2em .1em;
    width: auto;
    height: 62px;
    image-rendering: pixelated;
}

.web-button:hover img {
    filter: drop-shadow(1px 1px 0px #00bc8c) drop-shadow(-1px -1px 0px #00bc8c) drop-shadow(1px -1px 0px #00bc8c) drop-shadow(-1px 1px 0px #00bc8c);
}

.funny-button img {
    margin: .2em .1em;
    width: auto;
    height: 42px;
    image-rendering: pixelated;
}

.funny-button:hover img {
    filter: drop-shadow(1px 1px 0px #00bc8c) drop-shadow(-1px -1px 0px #00bc8c) drop-shadow(1px -1px 0px #00bc8c) drop-shadow(-1px 1px 0px #00bc8c);
}

.steam-app {
    display: inline-grid;
    background-color: #000000 !important;
    font-family: "Comic Sans MS", "Quicksand", "Comfortaa", sans-serif !important;
}

.steam-app-image {
    border-radius: 25px !important;
}

.steam-app-title-left-name {
    color: #8717f0 !important;
}

.steam-app-title-left-name,
.steam-app-description,
.steam-app-footer-author,
.steam-app-footer-button a {
    font-family: inherit !important;
    color:#d8afff !important;
}

.steam-app-footer-button a {
    background: #8400ff !important; 
}

.reversed img {
    transform: rotate(180deg);
}

.tarot-cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    gap: 30px;
    max-width: 1260px; /* tarot-card width * 3 + gap * 2 */
    margin: 0 auto;
}

.tarot-card {
    width: 400px;
    height: 1000px;
}

.tarot-card img {
    width: 100%;
    height: auto;
}

.tarot-card span {
    font-size: 1.3em;
    font-weight: bold;
}

* {
    box-sizing: border-box;
}

@-webkit-keyframes ticker {
    0% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        visibility: visible;
    }

    100% {
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }
}

@keyframes ticker {
    0% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        visibility: visible;
    }

    100% {
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }
}

.ticker-wrap {
    position: fixed;
    bottom: 0;
    width: 100%;
    overflow: hidden;
    height: 4rem;
    background-color: rgba(0, 0, 0, 0.9);
    padding-left: 100%;
    box-sizing: content-box;
}

.ticker-wrap .ticker {
    display: inline-block;
    height: 4rem;
    line-height: 4rem;
    white-space: nowrap;
    padding-right: 100%;
    box-sizing: content-box;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-name: ticker;
    animation-name: ticker;
    -webkit-animation-duration: 18000s;
    animation-duration: 18000s;
}

.ticker-wrap .ticker__item {
    display: inline-block;
    padding: 0 2rem;
    font-size: 2rem;
    color: white;
}

body {
    padding-bottom: 5rem;
}

h1,
h2,
p {
    padding: 0 5%;
}